<!DOCTYPE html>
<html>
<head>
    <title>Hangman Game</title>
    <script src="hangman.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Welcome to Hangman!</h1>
    <p id="lives">You have <%= game.lives %> lives to start with</p>
    <p id="hint">Hint: <%= game.word.last %></p>
    <p id="teaser"><%= game.word_teaser %></p>
    <% if game_won %>
    <script>
      alert("You Win! Winner winner chicken dinner!");
    </script>
  <% end %>
  
  <% if game.lives == 0 %>
    <script>
      alert("Game Over! The word was <%= game.word.first %>");
    </script>
  <% end %>
  
<div id="hangman">
<div class="hangman-part" id="head">O</div>
<div class="hangman-part" id="body">|</div>
<div class="hangman-part" id="left-arm">/</div>
<div class="hangman-part" id="right-arm">\</div>
<div class="hangman-part" id="left-leg">/</div>
<div class="hangman-part" id="right-leg">\</div>

</div>

<script>
var lives = <%= game.make_guess(guess) %>;
var parts = document.getElementsByClassName('hangman-part');
for (var i = 0; i < 6 - lives; i++) {
  parts[i].classList.add('visible');
}
</script>
</div>
    <form method="POST" action="/guess">
        <input type="text" name="guess" />
        <input type="submit" value="Make a guess" />
    </form>
    <p id="gameOver" style="display: none;">Game over... better luck next time!</p>
    <p id="gameStatus"></p>
    <form action="/reset" method="post">
    <input type="submit" value="Play Again">
  </form>
</body>
</html>