<!DOCTYPE html>
<html>
<head>
    <title>Hangman Game</title>
    <script src="hangman.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Welcome to Hangman!</h1>
    <p id="lives">You have <%= game.lives %> lives to start with</p>
    <p id="hint">Hint: <%= game.word.last %></p>
    <p id="teaser"><%= game.word_teaser %></p>
    <% if game_won %>
  <script>
    alert("You Win! Winner winner chicken dinner!");
  </script>
  <% end %>
  <% if game.lives == 0 %>
  <script>
    alert("Game Over! The word was <%= game.word.first %>");
  </script>
  <% end %>
<div class="gameOver">
  <div class="hangman">
  <div class="base"></div>
  <div class="stand"></div>
  <div class="beam"></div>
  <div class="rope"></div>
  <div id="bodyParts">
    <div id="head" class="bodyPart"></div>
    <div id="body" class="bodyPart"></div>
    <div id="leftArm" class="bodyPart"></div>
    <div id="rightArm" class="bodyPart"></div>
    <div id="leftLeg" class="bodyPart"></div>
    <div id="rightLeg" class="bodyPart"></div>
  </div>
</div>
<script>
var incorrectGuesses = <%= game.incorrect_guesses %>; // Replace with your method to get the number of incorrect guesses
var bodyParts = document.getElementById('bodyParts').children;

for (var i = 0; i < incorrectGuesses; i++) {
  if (bodyParts[i]) {
    bodyParts[i].style.display = 'block';
  }
}
</script>
</div>
    <form method="POST" action="/guess">
        <input type="text" name="guess" />
        <input type="submit" value="Make a guess" />
    </form>
    <p id="gameOver" style="display: none;">Game over... better luck next time!</p>
    <p id="gameStatus"></p>
    <form action="/reset" method="post">
    <input type="submit" value="Play Again">
  </form>
</body>
</html>